@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.webp {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  color: #fff;
  font-size: 128px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 128px;
  font-family: 'DOSGothic';
  animation: rainbow 1s infinite;
}

@keyframes rainbow {
  0% {
    color: white;
  }
  12.5% {
    color: red;
  }
  25% {
    color: blue;
  }
  37.5% {
    color: white;
  }
  50% {
    color: red;
  }
  62.5% {
    color: blue;
  }
  75% {
    color: white;
  }
  100% {
    color: red;
  }
}
